<div class="steps-block">
  <div class="steps">
    <ng-container *ngFor="let step of stepList; let i = index; let last = last">
      <div class="step" [class.done]="step.active">
        <div class="icon-block">
          <span class="number">{{i + 1}}</span>
          <ion-icon class="icon" ios="md-checkmark" md="md-checkmark"></ion-icon>
        </div>
        <span>{{step.name}}</span>
      </div>
      <div class="divider" [class.done]="(i + 1) < _activeStep" *ngIf="!last"></div>
    </ng-container>
  </div>
</div>
