page-reserve {

  .scroll-content {
    margin-bottom: 85px;
  }

  .reserve-block {
    padding: 16px;

    .card {
      background: #fff;
      border-radius: 1rem;
      -webkit-box-shadow: 0 0 1px rgba(color($colors, primary), 0.50), 0 2px 4px rgba(color($colors, primary-dark), 0.25);
      box-shadow: 0 0 1px rgba(color($colors, primary), 0.50), 0 2px 4px rgba(color($colors, primary-dark), 0.25);
    }

    ion-grid {
      background-color: #fff;
      padding: 0;
    }

    ion-grid ion-row ion-col {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 1.5rem;
      font-size: 1.5rem;
    }

    ion-grid ion-row ion-col ion-icon {
      margin-right: 1rem;
      font-size: 2.5rem;
      width: 2.5rem;
    }

    .bb {
      border-bottom: 1px solid rgba(color($colors, primary), .50);
    }

    .br {
      border-right: 1px solid rgba(color($colors, primary), .50);
    }

    .no-margin {
      margin: 0 !important;
    }

    .datetime-btn {
      cursor: pointer;
      background-color: #fff17640;
    }

    .no-paddingT {
      padding-top: 0!important;
    }

    .no-paddingB {
      padding-bottom: 0!important;
    }

    .select-block {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      border-bottom-color: transparent;
      .item {
        font-size: 1.25rem;
        padding-left: 0;
        border: 0;

        .label {
          margin-right: 0;
        }

        .select {
          font-weight: 600;
          color: color($colors, primary);
          padding-left: 4px;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
        }
      }
    }

  }

  .reserve-room {
    margin: 15px 10px 12px;
    border-bottom: solid 1px #d4d4d4;
    padding-bottom: 8px;

    .info {
      p {
        margin: 0;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        color: #222;

        .caption {
          color: #909090;
          min-width: 60px;
          display: inline-block;
        }
      }
    }
  }
  .step-complete {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding-top: 50%;

    .done-text {
      margin-top: 10px;
      font-size: 1.3em;
      span {
        opacity: .8;
      }
    }

    .done-mark {
      height: 50px;
      width: 50px;
      background-color: #FFD765;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      margin: 0 auto;
      position: relative;
      .icon {
        color: #C9A634;
        top: 8px;
        position: absolute;
        left: 2px;
        right: 0;
        font-size: 2.4em;
      }
    }
  }

  .steps-block {
    border-top: solid 1px color($colors, primary);
  }
}
