<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agendar Quarto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ng-container *ngIf="activeStep <= 1">
    <form [formGroup]="form" autocomplete="off" (submit)="submitForm()">

      <ion-list>

        <ion-item>
          <ion-label floating>Data de entrada</ion-label>
          <ion-datetime displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM" formControlName="dateStart" required
                        doneText="OK" cancelText="Cancelar"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label floating>Data de saída</ion-label>
          <ion-datetime displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM" formControlName="dateEnd" required
                        doneText="OK" cancelText="Cancelar"></ion-datetime>
        </ion-item>


        <ion-item>
          <button ion-button block color="light" class="btn" type="submit">
            PRÓXIMO
          </button>
        </ion-item>

      </ion-list>

    </form>
  </ng-container>

  <bedroom-card *ngIf="activeStep === 2" [config]="{ showBtnRerve: true }" (onReserveRoom)="selectRoom($event)"></bedroom-card>

  <ng-container *ngIf="activeStep >= 3">
    <div id="step-complete">
      <div class="done-mark">
        <ion-icon class="icon" ios="md-checkmark" md="md-checkmark"></ion-icon>
      </div>
      <div class="done-text">
        <span>Agendado com sucesso!</span>
      </div>
    </div>
  </ng-container>

  <reserve-steps (onSelectStep)="activeStep = $event" [activeStep]="activeStep"></reserve-steps>

</ion-content>
