<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'toolbar.home' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="logo" text-center>
    <img src="assets/imgs/logo.gif" alt="Logo">
  </div>


  <ion-list>

    <ion-list-header *ngIf="auth.getEmail()">
      <span ion-text color="dark">{{auth.getEmail()}}</span>
    </ion-list-header>

    <ion-item (click)="logout()" *ngIf="auth.authenticated">
      <ion-icon name="log-out" item-left color="primary-dark"></ion-icon>
      <span ion-text color="dark">{{'home-page.label.exit' | translate}}</span>
    </ion-item>

    <ion-item (click)="login()" *ngIf="!auth.authenticated">
      <ion-icon name="log-in" item-left color="primary-dark"></ion-icon>
      <span ion-text color="dark">{{'home-page.label.login' | translate}}</span>
    </ion-item>

  </ion-list>
</ion-content>
