<ion-card *ngFor="let room of bedRoomList" (click)="cardDetail(room)">
  <img [src]="room.imgUrl || 'assets/imgs/room/quarto-hotel.jpg'"
       onerror="this.src='assets/imgs/room/quarto-hotel.jpg'"/>
  <ion-card-content>
    <ion-card-title>
      {{room.name || 'Quarto Exemplo 1'}}
    </ion-card-title>
    <p>
      {{room.description}}
    </p>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <button ion-button color="light" float-right color="primary-dark" *ngIf="config?.showBtnRerve"
              (click)="reserve(room)">Reservar</button>
    </ion-col>
  </ion-row>
</ion-card>
