#ion-menu-left {

  .toolbar-background {
    background-image: linear-gradient(135deg, #ffde76, #f9d45e, #d8a618);
  }

  .user-toolbar {

    .user-avatar {
      width: 96px;
      height: 96px;
      display: inline-block;
      border-radius: 50%;
      -moz-box-shadow: 7px 3px 20px 1px #949494bf;
      -webkit-box-shadow: 7px 3px 20px 1px #949494bf;
      box-shadow: 7px 3px 20px 1px #949494bf;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .user-name {
      margin: 0;
      color: #525252;
      font-weight: bold;
    }

    .user-location {
      border-top: 1px solid rgba(39,27,56,.25);
      border-radius: 5px;

      ion-col {
        background-color: rgba(39,27,56,.25);
        border-radius: 5px;

        span {
          font-weight: 700 !important;
          color: #525252;
        }
        h5 {
          font-size: 1em;
          color: white;
        }
      }

    }

  }

  .menu-list {

  }
}
